@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-slate-950 text-slate-100;
}

a {
  @apply text-sky-400 underline underline-offset-2;
}

